.offerFooter{
    margin: auto;
    background-color: #00081C;
    color: #cdcfd2;
    line-height: 1.5;
    margin-top: 50px;
    padding: 30px;
    h4{
        font-weight: bold;
        letter-spacing: 3px;
    }
    input{
        width: 40%;
        margin: auto;
    }
    h5{
        margin-top: 20px;
    }
}