@font-face {
    font-family: 'Thasadith';
    src: url('./fonts/Thasadith-BoldItalic.eot');
    src: url('./fonts/Thasadith-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Thasadith-BoldItalic.woff2') format('woff2'),
        url('./fonts/Thasadith-BoldItalic.woff') format('woff'),
        url('./fonts/Thasadith-BoldItalic.svg#Thasadith-BoldItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Thasadith';
    src: url('./fonts/Thasadith-Bold.eot');
    src: url('./fonts/Thasadith-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Thasadith-Bold.woff2') format('woff2'),
        url('./fonts/Thasadith-Bold.woff') format('woff'),
        url('./fonts/Thasadith-Bold.svg#Thasadith-Bold') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Thasadith';
    src: url('./fonts/Thasadith-Regular.eot');
    src: url('./fonts/Thasadith-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Thasadith-Regular.woff2') format('woff2'),
        url('./fonts/Thasadith-Regular.woff') format('woff'),
        url('./fonts/Thasadith-Regular.svg#Thasadith-Regular') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Thasadith';
    src: url('./fonts/Thasadith-Italic.eot');
    src: url('./fonts/Thasadith-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Thasadith-Italic.woff2') format('woff2'),
        url('./fonts/Thasadith-Italic.woff') format('woff'),
        url('./fonts/Thasadith-Italic.svg#Thasadith-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.App {
    margin: auto;
    text-align: center;
    font-family: 'Thasadith';
}